:root {
    /* --title-text-color: #212121;
    --primary-text-color: #757575;
    --accent-color: #2196f3;
    --studio-text: #000000;
    --white-text: #ffffff;
    --bg-button-portfolio: #f5f4fa; */
    --bezier: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



body {
font-family: 'Abhaya Libre ExtraBold';
letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
    margin-bottom: 30px;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.container {
    border: dashed red;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 60px;
    padding-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 480px) {
    .container {
        width: 480px;
    }
}

@media screen and (min-width: 768px) {
    .container {
        width: 768px;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        width: 1200px;
    }
}

.header-section{
    display:flex;
align-items: center;
padding-left: 100px;
text-transform: uppercase;
font-style: normal;
letter-spacing: 0.04em;
font-weight: 800;
font-size: 52px;
line-height: 48px;
color: #FFFFFF;
height: 146px;
background-color: #1B5AAD;
}

.header-container{
    text-align: center;
}

.biography-container{
    display: flex;
}

.image-container{
    display: flex;
    align-items: center;
}

figure {
    width: 100%; 
}

figure > img{
    margin-left: auto;
    margin-right: auto;
}

figcaption {
    text-align: center;
}

.contacts-container{
    padding-right: 15px;
    display: flex;
    justify-content: space-between;
}

.footer-info{
    text-align: center;
}

.footer-info > a{
text-decoration: none;}