body {
margin: auto;
font-family: 'Abhaya Libre';
letter-spacing: 0.03em;
color: #212121;
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
    margin-bottom: 30px;
    font-family: 'Abhaya Libre ExtraBold';
        font-style: normal;
        font-weight: 800;
        font-size: 56px;
        line-height: 58px;
        color: #CC3129;
}

@media screen and (min-width: 768px) {
    h1 {
    font-size: 62px;
        line-height: 64px;
    }
}

@media screen and (min-width: 1200px) {
    h1 {
        font-size: 70px;
            line-height: 83px;
    }
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 60px;
    padding-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 480px) {
    .container {
        width: 480px;
    }
}

@media screen and (min-width: 768px) {
    .container {
        width: 768px;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        width: 1200px;
    }
}

.header-section{
display: flex;
align-items: center;
text-transform: uppercase;
font-style: normal;
padding-left: 130px;
letter-spacing: 0.04em;
font-weight: 800;
font-size: 40px;
line-height: 42px;
color: #FFFFFF;
height: 146px;
/* background-color: #1B5AAD; */
background: linear-gradient(to right, #1B5AAD 75%, #7aa3d8 );
}

@media screen and (min-width: 768px) {
    .header-section {
        font-size: 46px;
        line-height: 47px;
        padding-left: 100px;
    }
}

@media screen and (min-width: 1200px) {
    .header-section {
    font-size: 55px;
        line-height: 65px;
    }
}

.header-container{
    text-align: center;
}

.biography-container{
    margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
.biography-container {
       display: flex;
    }
}

@media screen and (min-width: 1200px) {
    .biography-text {
      padding-left: 10px;
    
    }
}

.biography-text{
    padding-left: 10px;
}

.text{
    margin-bottom: 15px;
}

.title-flex {
    margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
.title-flex{
    display: flex;
}}

@media screen and (min-width: 1200px) {
    .title-flex {
        margin-bottom: 0;
    }
}

.title-flex img {
    margin-left: auto;
    margin-right: auto;
}

.title2-container{
    text-align: center;
    margin-top: 30px;
}

@media screen and (min-width: 768px) {
    .title2-container {
        width: 370px;
        text-align: start;
    border-right: solid 2px #CC3129;
    }
}

@media screen and (min-width: 1200px) {
    .title2-container {
        width: 550px;
        margin-right: 40px;
    }
}

.title2-container>h2 {
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 42px;
}

@media screen and (min-width: 768px) {
.title2-container>h2 {
        font-size: 44px;
        line-height: 46px;
    }
}

@media screen and (min-width: 1200px) {
    .title2-container>h2 {
        font-size: 50px;
        line-height: 59px;
    }
}

.title2-container > h3 {
    
    width: auto;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 27px;
    margin-bottom: 10px;
}

@media screen and (min-width: 1200px) {
    .title2-container>h3 {
        width: 290px;
        font-size: 30px;
            line-height: 33px;
    }
}

p{
    font-family: 'Abhaya Libre';
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 27px;
}

@media screen and (min-width: 768px) {
    p {
        font-size: 29px;
        line-height: 31px;
    }
}

@media screen and (min-width: 1200px) {
    p {
    font-size: 35px;
    line-height: 41px;
    }
}

@media screen and (min-width: 1200px) {
    figure {
            width: 100%;
        }
}

@media screen and (min-width: 1200px) {
    figure {
        width: 100%;
    }
}

figure > img{
    margin-left: auto;
    margin-right: auto;
}

figcaption {
    margin-top: 5px;
    text-align: center;
    font-size: 18px;
    line-height: 20px;
    color: #000000;
}

@media screen and (min-width: 768px) {
    figcaption {
        font-size: 20px;
            line-height: 22px;
    }
}

@media screen and (min-width: 1200px) {
    figcaption {
        font-size: 22px;
            line-height: 26px;
    }
}

@media screen and (min-width: 1200px) {
    .contacts-container {
        padding-right: 15px;
        display: flex;
        justify-content: space-between;
    }
}

.contacts-border{
    display: flex;
    margin-bottom: 20px;
}

.border{
    margin-left: 25px;
    margin-top: 20px;
    width: 100%;
    border-top: solid 2px #CC3129;
}

@media screen and (min-width: 768px) {
    .border {
        margin-top: 28px;
    }
}

.contacts{
font-family: 'Abhaya Libre ExtraBold';
    font-style: normal;
    font-weight: 800;
    font-size: 35px;
    line-height: 38px;
    color: #CC3129;
}

@media screen and (min-width: 768px) {
    .contacts {
        font-size: 40px;
            line-height: 43px;
    }
}

@media screen and (min-width: 1200px) {
    .contacts {
    font-size: 45px;
        line-height: 53px;
    }
}
    
.footer-name{
font-family: 'Abhaya Libre Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 37px;
    color: #000000;
    margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
    .footer-name {
        font-size: 40px;
        line-height: 43px;
    }
}

@media screen and (min-width: 1200px) {
    .footer-name {
        font-size: 45px;
        line-height: 53px;
    }
}

.footer-name.mats{
    font-size: 32px;
    line-height: 35px;
}

@media screen and (min-width: 768px) {
    .footer-name.mats {
        font-size: 35px;
        line-height: 38px;
    }
}

@media screen and (min-width: 1200px) {
    .footer-name.mats {
        font-size: 38px;
        line-height: 41px;
    }
}

.footer-info{
    text-align: center;
    margin-bottom: 20px;
}

.footer-info > a{
    font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 27px;
        text-align: center;
        text-decoration: none;
    
        color: #000000;
}

@media screen and (min-width: 1200px) {
    .footer-info>a {
    font-size: 30px;
        line-height: 33px;
    }
}

.social-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.item:nth-child(2n+1){
    flex-direction: row-reverse;
}

@media screen and (min-width: 1200px) {
    .item {
        display: flex;
    }
}

